@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lacquer";
  src: url("/src/assets/fonts/Lacquer/Lacquer-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("/src/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .2rem;
  height: .2rem;
  background-color: #333;
}
 ::-webkit-scrollbar-button{
  background-color: #333;
 }
::-webkit-scrollbar-track {
  background-color: #333;
}
::-webkit-scrollbar-track-piece {
  background-color: #333;
}
::-webkit-scrollbar-thumb {
  background-color: #d9a667;
}